<br>
<br>
<br>
<br>
<br>
<span>Name =</span><%= @applicant[:name]%> <br>
<span>profile_phto =</span><%= @applicant[:profile_phto]%> <br>
<span>DOB =</span><%= @applicant[:dob]%> <br>
<span>Phone 1 =</span><%= @applicant[:phone_no1]%> <br>
<span>Phone 2 =</span><%= @applicant[:phone_no2]%> <br>
<span>Email =</span><%= @applicant[:email]%> <br>
<span>Current Address =</span><%= @applicant[:current_address]%> <br>
<span>Hometown Address =</span><%= @applicant[:hometown_address]%> <br>
<span>Bachelor University =</span><%= @applicant[:bachelor_university]%> <br>
<span>Bachelor Year =</span><%= @applicant[:bachelor_year]%> <br>
<span>Bachelor Degree =</span><%= @applicant[:bachelor_degree]%> <br>
<span>Master University =</span><%= @applicant[:master_university]%> <br>
<span>Master Year =</span><%= @applicant[:master_year]%> <br>
<span>Master Degree =</span><%= @applicant[:master_degree]%> <br>
<span>Diploma Name =</span><%= @applicant[:diploma_name]%> <br>
<span>Certificates =</span><%= @applicant[:certificate]%> <br>
<span>Programming Language =</span><%= @applicant[:programming_language]%> <br>
<span>Programming Level =</span><%= @applicant[:programming_level]%> <br>
<span>English Level =</span><%= @applicant[:english]%> <br>
<span>Japanese Level =</span><%= @applicant[:japanese]%> <br>
<span>Other Level =</span><%= @applicant[:other]%> <br>
<span>Internship Info =</span><%= @applicant[:internship_info]%> <br>
<span>Job Exp =</span><%= @applicant[:job_experience]%> <br>
<span>Total Exp Year =</span><%= @applicant[:total_exp_year]%> <br>
<span>Comment =</span><%= @applicant[:comment]%> <br>

